.sv_window {
  position: fixed;
  bottom: 3px;
  right: 10px;
  background-color: cadetblue;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto; }

.sv_window_title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.sv_window_content {
  padding: 8px;
  margin: 0; }

.sv_window_title a,
.sv_window_title a:link,
.sv_window_title a:visited {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  color: black; }

.sv_main {
  background-color: #f4f4f4; }
  .sv_main hr {
    border-bottom: 1px solid #e7e7e7; }
  .sv_main input[type="button"],
  .sv_main button {
    color: white;
    background-color: #1ab394; }
    .sv_main input[type="button"]:hover,
    .sv_main button:hover {
      background-color: #179d82; }
  .sv_main .sv_q_other input,
  .sv_main .sv_q_text_root,
  .sv_main .sv_q_dropdown_control,
  .sv_main input[type="text"],
  .sv_main select,
  .sv_main textarea {
    border: 1px solid #e7e7e7;
    color: #6d7072;
    background-color: white; }
    .sv_main .sv_q_other input:focus,
    .sv_main .sv_q_text_root:focus,
    .sv_main .sv_q_dropdown_control:focus,
    .sv_main input[type="text"]:focus,
    .sv_main select:focus,
    .sv_main textarea:focus {
      border: 1px solid #1ab394; }
  .sv_main .sv_select_wrapper {
    background-color: white; }
    .sv_main .sv_select_wrapper:before {
      background-color: #1ab394; }
  .sv_main .sv_header {
    color: #6d7072; }
  .sv_main .sv_custom_header {
    background-color: #e7e7e7; }
  .sv_main .sv_container {
    color: #6d7072; }
  .sv_main .sv_body {
    background-color: white;
    border-top: 2px solid #1ab394; }
  .sv_main .sv_progress {
    background-color: #e7e7e7; }
  .sv_main .sv_progress_bar {
    background-color: #1ab394; }
  .sv_main .sv_p_root > .sv_row {
    border-bottom: 1px solid #e7e7e7; }
    .sv_main .sv_p_root > .sv_row:nth-child(odd) {
      background-color: white; }
    .sv_main .sv_p_root > .sv_row:nth-child(even) {
      background-color: #f4f4f4; }
  .sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) {
    border: 1px solid #ed5565;
    background-color: #fcdfe2;
    color: #ed5565; }
    .sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) + input,
    .sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) + textarea,
    .sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) + .sv_select_wrapper select {
      border: 1px solid #ed5565; }
      .sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) + input:focus,
      .sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) + textarea:focus,
      .sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) + .sv_select_wrapper select:focus {
        outline: #ed5565 auto 5px; }
  .sv_main table.sv_q_matrix tr,
  .sv_main table.sv_q_matrix_dropdown tr,
  .sv_main table.sv_q_matrix_dynamic tr {
    border-bottom: 1px solid #e7e7e7; }
  .sv_main .sv_q_rating_item.active .sv_q_rating_item_text {
    background-color: #179d82;
    border-color: #179d82;
    color: white; }
  .sv_main .sv_q_rating_item .sv_q_rating_item_text {
    border: 1px solid #e7e7e7; }
    .sv_main .sv_q_rating_item .sv_q_rating_item_text:hover {
      border: 1px solid #179d82; }

.sv_main {
  position: relative;
  width: 100%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px; }
  .sv_main hr {
    border: none; }
  .sv_main input[type="button"],
  .sv_main button {
    font-size: 0.85em;
    font-weight: bold;
    line-height: 2em;
    border: none;
    min-width: 100px;
    cursor: pointer;
    padding: 0 2em;
    border-radius: 2px; }
  .sv_main .sv_custom_header {
    position: absolute;
    width: 100%;
    height: 275px; }
  .sv_main .sv_container {
    max-width: 80%;
    margin: auto;
    position: relative;
    padding: 0 1em; }
    .sv_main .sv_container .sv_header {
      padding-top: 5em;
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em; }
      .sv_main .sv_container .sv_header h3 {
        font-size: 2em;
        font-weight: 300;
        text-align: left;
        margin: 0; }
    .sv_main .sv_container .sv_body {
      padding: 1em 1em 5em 1em; }
      .sv_main .sv_container .sv_body .sv_progress {
        height: 0.3em; }
        .sv_main .sv_container .sv_body .sv_progress .sv_progress_bar {
          height: 100%;
          position: relative;
          margin-top: 2em; }
          .sv_main .sv_container .sv_body .sv_progress .sv_progress_bar > span {
            position: absolute;
            top: -1.5em;
            display: inline-block; }
      .sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
        font-size: 1em;
        margin-top: 0.1em;
        font-weight: normal; }
      .sv_main .sv_container .sv_body .sv_p_root .sv_p_title {
        font-weight: bold;
        font-size: 1.15em;
        margin: 1.5em 0 0 0; }
      .sv_main .sv_container .sv_body .sv_p_root > .sv_row {
        padding: 0; }
      .sv_main .sv_container .sv_body .sv_p_root .sv_q_title {
        font-weight: bold;
        font-size: 1em;
        margin: 0.5em 0; }
      .sv_main .sv_container .sv_body .sv_p_root .sv_q_description {
        margin-top: -0.6em; }
      .sv_main .sv_container .sv_body .sv_p_root .sv_q {
        padding: 0.5em 1em 1.5em 1em;
        box-sizing: border-box;
        overflow: auto; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_panel_dynamic .sv_q_title {
          font-weight: normal; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) {
          margin: 1em 0;
          padding: 1em; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_other input,
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_text_root,
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_dropdown_control,
        .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="text"],
        .sv_main .sv_container .sv_body .sv_p_root .sv_q select,
        .sv_main .sv_container .sv_body .sv_p_root .sv_q textarea {
          position: relative;
          width: 100%;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 2em;
          padding-left: 1em; }
          .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_other input:focus,
          .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_text_root:focus,
          .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_dropdown_control:focus,
          .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="text"]:focus,
          .sv_main .sv_container .sv_body .sv_p_root .sv_q select:focus,
          .sv_main .sv_container .sv_body .sv_p_root .sv_q textarea:focus {
            outline: none; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q div.sv_q_text_root,
        .sv_main .sv_container .sv_body .sv_p_root .sv_q div.sv_q_dropdown_control {
          min-height: 2.43em;
          min-width: 7em; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper {
          width: 100%;
          position: relative;
          display: inline-block; }
          .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper select {
            display: block;
            background: transparent;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-right: 2.5em; }
            .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper select::-ms-expand {
              display: none; }
          .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper:before {
            padding: 1em;
            position: absolute;
            right: 1px;
            right: 0;
            top: 1px;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzNCAzNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzQgMzQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxMiwxNiAxNCwxNCAxNywxNyAyMCwxNCAyMiwxNiAxNywyMSAiLz4KPC9zdmc+Cg==);
            content: "";
            background-repeat: no-repeat;
            background-position: center; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="color"] {
          min-height: 2em;
          padding: 0; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="radio"],
        .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="checkbox"] {
          margin: 0;
          margin-right: 0.55em;
          width: 1.2em;
          height: 1.2em;
          vertical-align: middle;
          font-size: 1em;
          margin-top: -0.1em; }
          .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="radio"]:focus,
          .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="checkbox"]:focus {
            outline: none; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_radiogroup.sv_q_radiogroup_inline:not(:last-child),
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_checkbox.sv_q_checkbox_inline:not(:last-child) {
          margin-right: 1.5em; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_radiogroup > label,
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_checkbox > label {
          white-space: nowrap; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_checkbox_inline,
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_radiogroup_inline {
          line-height: 2em; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_footer {
          padding: 1em 0; }
      .sv_main .sv_container .sv_body .sv_p_root table {
        width: 100%;
        border-collapse: collapse; }
        .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix .sv_matrix_dynamic_button, .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix_dropdown .sv_matrix_dynamic_button, .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix_dynamic .sv_matrix_dynamic_button {
          padding: 0.3em 2em; }
        .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix .sv_q_checkbox_label,
        .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix .sv_q_radiogroup_label, .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix_dropdown .sv_q_checkbox_label,
        .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix_dropdown .sv_q_radiogroup_label, .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix_dynamic .sv_q_checkbox_label,
        .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix_dynamic .sv_q_radiogroup_label {
          margin-right: 1.5em; }
        .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix td {
          min-width: 10em; }
          .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix td .sv_q_m_label {
            position: static; }
        .sv_main .sv_container .sv_body .sv_p_root table.sv_q_matrix_dropdown .sv_qcbc .sv_q_checkbox_control_label {
          margin-right: 1.5em; }
        .sv_main .sv_container .sv_body .sv_p_root table td,
        .sv_main .sv_container .sv_body .sv_p_root table th {
          text-align: left;
          padding: 0 1em; }
        .sv_main .sv_container .sv_body .sv_p_root table td {
          padding: 0.5em;
          padding-right: 2em; }
        .sv_main .sv_container .sv_body .sv_p_root table th {
          line-height: 1.3em;
          padding: 0.5em;
          vertical-align: bottom;
          font-weight: normal; }
      .sv_main .sv_container .sv_body .sv_p_root fieldset.sv_qcbc {
        line-height: 2em;
        padding-top: 0.1em; }
      .sv_main .sv_container .sv_body .sv_p_root .sv_q_other {
        margin-left: 1em; }
      .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        line-height: 2em; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_item {
          cursor: pointer;
          word-spacing: -0.3em;
          font-weight: normal;
          display: inline; }
          .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_item > * {
            word-spacing: initial; }
          .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_item .sv_q_rating_item_text {
            display: inline-block;
            width: 2em;
            margin-left: -1px;
            text-align: center; }
          .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_item:not(:first-child) .sv_q_rating_item_text:not(:hover) {
            border-left-color: transparent; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_min_text {
          margin-right: 0.5em; }
        .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_max_text {
          margin-left: 0.5em; }
      .sv_main .sv_container .sv_body .sv_nav {
        padding: 1em 0;
        min-height: 2em; }
        .sv_main .sv_container .sv_body .sv_nav .sv_start_btn,
        .sv_main .sv_container .sv_body .sv_nav .sv_next_btn,
        .sv_main .sv_container .sv_body .sv_nav .sv_complete_btn {
          float: right; }
        .sv_main .sv_container .sv_body .sv_nav .sv_prev_btn {
          float: left; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuL3BhY2thZ2VzL3N1cnZleS1hbmd1bGFyL3N1cnZleS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/